<!-- Create layout with flexbox -->
<div fxFlex="1 1 100%" fxLayout="column" >
  <div  fxLayoutAlign="end" fxLayout="row" class="nav">
    <h1 *ngFor="let page of pages"  (click)="navClick(page)" [ngClass]="selectedPage == page ? 'selectedNav' : ''" class="nav-items">{{page}}
    </h1>
  </div>
  <img src="/assets/images/RR_WEBSITE_REDLOGO.jpg" alt="RR logo" class="navLogo">
  <img  *ngIf="selectedPage != 'Marketplace' && selectedPage != 'Purchases'" src="/assets/images/banner.jpg" alt="Banner" class="banner">
  
  <button class="float" *ngIf="authService.state =='NOT CONNECTED'" (click)= "openMetaMask()"><label>Connect Wallet</label></button>
  <button class="float" *ngIf="authService.state =='CONNECTED'"(click)= "openMetaMask()"><label>
    {{authService.wallet.substring(0, 5) + "...." 
    + authService.wallet.substring(authService.wallet.length - 5)}}</label></button>

  <!-- <button (click)= "getTest()"> getTest</button> -->
 

  <div  class="bg limit-width fill-height" >
    <ng-container [ngSwitch]="selectedPage">
    <div fxFill="1 1 auto" class="bg" *ngSwitchCase="'Home'">
      <mission  ></mission>
    </div>
    <marketplace id="market" class="marketplace limit-width" *ngSwitchCase="'Marketplace'"></marketplace>
    <display-missions *ngSwitchCase="'Missions'" class="bg limit-width height" ></display-missions>
    <purchases fxFlex="1 1 auto" *ngSwitchCase="'Purchases'"></purchases>
  </ng-container>
  </div>
</div> 
