<!-- Create layout with flexbox -->
<div fxFlex="1 1 auto" fxLayout="column" >
  <div  fxLayoutAlign="end" fxLayout="row" class="nav">
    <h1 *ngFor="let page of pages"  (click)="navClick(page)" [ngClass]="selectedPage == page ? 'selectedNav' : ''" class="nav-items">{{page}}
    </h1>
  </div>
  <img src="/assets/images/RR_WEBSITE_REDLOGO.jpg" alt="RR logo" class="navLogo">
  <img  src="/assets/images/banner.jpg" alt="Banner" class="banner">
  
  
 

  <div  class="limit-width page-display" >
    <ng-container [ngSwitch]="selectedPage">
    <div  *ngSwitchCase="'Home'">
      <mission ></mission>
    </div>
    <display-missions *ngSwitchCase="'Missions'" class="limit-width limit-height" ></display-missions>
  </ng-container>
  </div>
</div> 
