<ul class="nav nav-pills pull-right ">
    <li class="active">
        <a href="#1a" data-toggle="tab">Available Missions</a>
    </li>
    <li><a href="#2a" data-toggle="tab">In Progress</a>
    </li>
    <li><a href="#3a" data-toggle="tab">Mission History</a>
    </li>
   
</ul>

<div class="tab-content clearfix" fxLayout="column">
    <div  class="tab-pane active" id="1a">
        <mission-panel  [displayMode]="'Available'" ></mission-panel>
    </div>
    <div  class="tab-pane" id="2a">
        <mission-panel [displayMode]="'In Progress'" ></mission-panel>
    </div>
    <div  class="tab-pane" id="3a">
        <mission-panel [displayMode]="'My Missions'" ></mission-panel>
    </div>
  
</div>